a:hover {
    color: orange;
}

main > .container {
    padding: 60px 15px 0;
}

.footer {
    background-color: #f5f5f5;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

/* NAV */
.navbar {
    min-height: 76px;
}
.search-string {
    margin: 0 auto;
}
.search-button {
    background: linear-gradient(#F3AE0F, #E38916) #E38916;
    width: 70px;
    margin-left: 20px;
}
.vertical-padding-0 {
    padding-top: 0;
    padding-bottom: 0;
}
/* CONTENT */
.main-content {
    margin-top: 40px;
}

.question-box {
    margin-top: 20px;
    border: 1px solid grey;
    border-radius: 20px;
    padding: 10px;
    align-items: center;
}

.question-title {
    font-size: 20px;
    font-weight:bold;
}

.avatar {
    max-width: 60px;
}

.rating {
    float:left;
    width: 45%;
    padding-top: 15px;
    text-align: right;
}

.up-and-down {
    float:left;
    width: 55%;
}

.rating-button,
.rating-button:active,
.rating-button:focus {
    outline: none;
    background: #ffffff;
    border: 0;
}

.rating-button:hover {
    transform: scale(1.03, 1.03);
}

.rating-arrow {
    max-width: 30px;
}

.pagination-nav a{
    margin-top: 25px;
}
.pagination-nav a:hover{
    color: orange;
}

.tags-box, .members-box {
    margin-top: 20px;
    margin-left:20px;
}

.tags-title, .members-title {
    font-size: 25px;
    font-weight:bold;
}

#tag-2, #tag-5, #tag-6 {
    font-size: 18px;
}

#tag-3 {
    font-weight: bold;
}

/*ASK PAGE*/

.ask-new-question {
    font-size: 30px;
    font-weight: bold;
    margin-bottom:15px;
    margin-left: -18px;
}

.ask-text-area {
    min-height: 300px;
}

.ask-btn {
    background: linear-gradient(#F3AE0F, #E38916) #E38916;
    max-height: 38px;
}

/*QUESTION PAGE*/
.my-question-img {
    min-width: 110%;
}
.question-img {
    max-width: 85%;
}

.answer {
    margin-top: 30px;
}

.question-text-area {
    min-height: 100px;
}
.answer-btn{
    margin-left: 15px;
    margin-bottom: 20px;
    background: linear-gradient(#F3AE0F, #E38916) #E38916;
}

/*TAG*/

.tag-page-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom:15px;
}

.col-form-label {
    padding-left:0;
}

.alert {
    margin-left: -18px;
}