/*START GRID*/
.field {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 6% 6% 19% 60%;
    margin-left: 10px;
    margin-right: 20px;
    grid-gap:10px;
}
.card {
    grid-column: 1/3;
    grid-rows: 1/2;
}
.menu {
    grid-column: 1/1;
    grid-rows: 2/4;
}
.alert {
    margin-right:10px;
    text-align: center;
    grid-column: 2/4;
    grid-rows: 2/3;
}
.testFunction {
    grid-column: 2/4;
    grid-rows: 3/4;
}
/*END GRID*/
p {
    margin-top: 6px;
    margin-bottom: 0;
}
.run {
    grid-column: 3/4;
    grid-rows: 1/2;
    text-align:center;
    padding-top: 16%;
}
.navbar-light {
    width: 100%;
    margin-top: 4px;
}

.selected {
    border: 2px solid aquamarine;
    border-radius: .25rem;
    border-bottom-color: aquamarine;
    background: #e2e0e0;
}
