body {
    background-color: rgb(43, 144, 226);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.field  {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    border-radius: 5px;
}
.todo {
    padding-top: 8px;
    background-color: lightgreen;
    text-align:center;
    border-radius: 5px;
    cursor:pointer;
}

.box {
    padding-top: 10px;
    background-color: lightcoral;
    grid-column: 1/2;
    border-radius: 5px;
    margin-top: 5px;
}

.stage1 {
    background-color: rgb(8, 240, 209);
    grid-column: 2/3;
}
.stage2 {
    background-color: cornflowerblue;
    grid-column: 3/4;
}

.btn {
    text-decoration: none;
    outline: none;
    display: inline-block;
    padding: 10px 30px;
    margin: 10px 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid #fe6637;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif; 
    color: #fe6637;
    transition: .2s ease-in-out;
    cursor:pointer;
  }
  .btn:before {
    content: "";
    background: linear-gradient(90deg, rgba(255,255,255,.1), rgba(255,255,255,.5));
    height: 50px;
    width: 50px;
    position: absolute;
    top: -8px;
    left: -75px;
    transform: skewX(-45deg);
  }
  .btn:hover {
    background: #fe6637;
    color: #fff;
  }
  .btn:hover:before {
    left: 150px;
    transition: .5s ease-in-out;
  }

.stage1 .btn:hover {
    background: #0fe4d2;
    color: #fff;
}

.stage2 .btn:hover {
    background: cornflowerblue;
    color: #fff;
}

.todo {
    text-decoration: none;
    outline: none;
    display: inline-block;
    margin: 10px 20px;
    padding: 15px 30px;
    overflow: hidden;
    border: 2px solid;
    border-bottom-width: 4px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgba(30,255,188,1);
    background: rgba(255,255,255,1);
    transition: color .3s, background .5s;
  }
  .todo:hover {
    animation: stripes .75s infinite linear;
    background: linear-gradient(45deg, rgba(30,255,188,1) 25%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 50%, rgba(30,255,188,1) 50%,      rgba(30,255,188,1) 75%, rgba(255,255,255,1) 75%, rgba(255,255,255,1));
    background-size: 10px 10px;
    color: cornflowerblue;
  }
  @keyframes stripes {
    0% {background-position: 0 0;}
    100% {background-position: 50px 0;}
  }
  
  .new {
    grid-column: 1/2;

    text-decoration: none;
    outline: none;
    display: inline-block;
    height: 45px;
    border-radius: 35px;
    margin: 10px 20px;
    padding-bottom: 10px;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0,0,0,.1);
    transition: .3s;
  }
  .new:hover {
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46,229,157,.4);
    color: white;
    transform: translateY(-7px);
  }

textarea {
    border: 1px solid #cccccc; 
    border-radius: 5px; 
    padding-left: 5px;
    padding-top: 8px;
    font-size: 16px;
    background:#acfce8;
    outline: none; 
    height: 30px;
    width: 75%;
    color: black;
    font-family: Tahoma; 
 }